html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%; }

body {
  height: 100%;
  overflow: hidden; }

header {
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(0deg, #5f1000, #bd2000);
  font-size: 2rem; }

main {
  height: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-image: linear-gradient(#5f1000, #bd2000);
  color: white; }
  main h2 {
    font-size: 4rem; }
  main p {
    font-size: 2rem; }

.box__link {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem; }

.btn {
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  background-color: #ffbe0f;
  color: #5f1000;
  font-weight: bold; }

.option__circle--outer {
  position: relative;
  width: 12rem;
  height: 12rem;
  border: white 1px solid;
  border-radius: 50%; }

.option__circle--inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  border: white 1px solid;
  border-radius: 50%;
  background-color: #5f1000; }

.option__link {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  text-decoration: none;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 2rem; }

.modal {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-image: linear-gradient(0deg, #bd2000, #5f1000); }
  .modal__close {
    padding: 1rem;
    text-align: right;
    font-size: 5rem;
    color: white; }
  .modal__timer {
    position: relative;
    padding: 1rem;
    height: 60vh; }
  .modal__buttons {
    text-align: center;
    font-size: 8rem;
    color: white; }

.circle__outer, .circle__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1rem solid white;
  border-radius: 50%; }

.circle__outer {
  width: 30rem;
  height: 30rem; }

.circle__inner {
  width: 25rem;
  height: 25rem;
  background-color: #5f1000; }

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: white; }

.fa-pause {
  display: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }
